* {
	box-sizing: border-box;
	margin: 0;
	padding: 0%;

}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.6;
	color: #333;
  background: #99A98F;


}

header {
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

ul {
	list-style: none;
	display: flex;
	align-items: center;
}

li {
	margin-left: 2rem;
}

li:first-child {
	margin-left: 0;
}

a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #008080;
}

.hero {
	height: 100vh;
  background-image: url('pic2.jpg');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  
}

.hero h1 {
	font-size: 4rem;
	color: #FFFFFF;
	margin-bottom: 1rem;
    
}

.hero p {
	font-size: 1.5rem;
	color: #FFFFFF;
	margin-bottom: 2rem;
}



.btn {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: #008080;
	color: #fff;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
}

.btn:hover {
	background-color: #006666;
}

.destinations {
	padding: 5rem 1rem;
	text-align: center;
  background-color:	#99A98F;
  padding-left: 10px;
  padding-right: 20px;

  
}

.destinations h2 {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
  
}

.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.card {
	width: 30%;
	margin-bottom: 2rem;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

.card h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 1rem;
}

.accommodation {
	background-color: #99A98F;
	padding: 5rem 2rem;
	text-align: center;
}

.accommodation h2 {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.accommodation p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.transportation {
  background-color: #99A98F;
	padding: 5rem 2rem;
	text-align: center;
}

.transportation h2 {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.transportation p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

.about{
  background-color: #99A98F;
	padding: 5rem 2rem;
	text-align: center;
}

.about h2 {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.about b1{
  text-align: justify;
  font-weight:  monospace;
}

.about p {
	font-size: 1.2rem;
	margin-bottom: 2rem;
}

footer {
	background-color:#000000;
	color: #fff;
	padding: 1rem;
	text-align: center;
	margin-top: 5rem;
  width: 100vw;
  object-fit: fill;

}
